<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spots</title>
</head>
<body>
    <h1>Spots</h1>
    <div>
        <a href="/spots/new">Add New Spot</a>
    </div>
    <ul>
        <%for(let spot of spots){ %>
            <li><a href="/spots/<%=spot._id%>"><%=spot.title%></a></li>
        <%}%>
    </ul>
</body>
</html>