<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Spot</title>
</head>
<body>
    <form action="/spots" method="'POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="spot[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="spot[location]">
        </div>
        <button>Add Spot</button>
    </form>
    <div>

        <a href="/spots">All Spots</a>
    </div>
</body>
</html>